@import url("https://use.typekit.net/ckj3ken.css");

// colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$text-color: rgb(150, 150, 150);
$primary: rgb(64, 25, 107);
$box-shadow: rgba(64, 25, 107, 0.07);
$header-shadow: 0 4px 13px rgba(0,0,0,.05);
$offwhite-line: rgba(220, 220, 224, 0.3);
$call-to-action-background: rgb(239, 241, 255);
$banner-background: rgb(223, 227, 255);
$main-button-background: rgb(115, 86, 148);

// font-styles
$text-font: muli, sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    font-family: $text-font;
    // background: black;
    // color: $white;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    // position: fixed;
    height: 70px;
    // top: 0;
    // left: 0;
    box-shadow: $header-shadow;
    background: $white;
    z-index: 99;
}


.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding-right: 60px;
    padding-left: 60px;
    white-space: nowrap;
}

.nav-call-to-action {
    display: flex;
}

.mode-switch-img {
    width: 1.2em;
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
}

.nav-button {
    text-decoration: none;
    display: inline-block;
    color: $primary;
    font-weight: 700;
    padding: 13px 20px;
    background-color: $call-to-action-background;
    border: 1.5px solid $primary;
    border-radius: 5px;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 auto;
    // margin-left: auto;
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
    // margin: 0 auto;
    flex-shrink: 0;     
}

.form-section {
    width: 30%;
}

.box {
    padding: 16px 20px;
    border-radius: 5px;
    box-shadow: 15px 30px 40px rgba(64,25,109,.07);
    border: 1px solid rgba(219,220,224,.5);
}

.announcement-card {
    background: $banner-background;
    margin-bottom: 20px;

    p {
        font-weight: 700;
        font-size: 0.9rem;
        line-height: 1.5rem;
        color: $primary;
    }

    a{
        text-decoration: inherit;
        color: inherit;
        font-size: 0.9rem;
    }
}

.form-card {
    padding: 40px;
}

.form-call-to-action {
    font-weight: 900;
    color: $black;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.form-instruction {
    color: $text-color;
    line-height: 1.5rem;
    margin-bottom: 40px;
    font-size: 0.9rem;
}

.input-div {
    margin-bottom: 15px;
}

.input-field input {
    border: none;
    padding-bottom: 12px;
    font-weight: 700;
}

.input-field input::placeholder {
    font-weight: 400;
    color: $text-color;
}

input:focus, input:active {
    outline: none;
    border: none;
}

.input-field {
    width: 100%;
    align-content: center;
    border-bottom: 1px solid $offwhite-line;
    margin-bottom: 25px;
    position: relative;
}

.input-field .feather {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 1.2rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

// .feather {
//     stroke: red;
// }

.input-field input{
    width: 100%;
    padding-top: 10px;
}

// .input-field input[type ="email"] {
//     width: 100%;
// }

.input-title {
    margin-bottom: 10px;
}

.reset-password {
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: $primary;
    }
}

.sign-in-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: $white;
    background: $main-button-background;
    font-weight: 700;
    padding: 13px 43px;
    border-radius: 5px;
}

.illustration-container {
    width: 58%;
    object-fit: fill;

    img {
        width: 100%;
    }
}

